/* Palette:
#CDB4DB - Thistle (Purple)
#FFC8DD - Fairy Tale (Light Pink)
#FFAFCC - Carnation Pink (Pink)
#BDE0FE - Uranian Blue (Light Blue)
#A2D2FF - Light Sky Blue (Blue)
*/

@media only screen and (max-width: 1024px) { /* Smaller Screens */
    .checkoutgrid-container {
        grid-template-areas: 
        "overview"
        "info" 
        "payment";
    }
}

@media only screen and (min-width: 1024px) { /* Big Screens / PC */
    .checkoutgrid-container {
        grid-template-areas: 
        "info . overview" 
        "payment payment payment";
        padding: 0 1rem 1rem 1rem; /* Stops scaling hover animation from cropping */
        grid-template-columns: 1fr 0.8fr 1.2fr;
    }
}

/* -- Grid Container -- */
.checkoutgrid-container {
    display: grid;
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
}



/* -- Customer Details -- */
.customerDetails-wrapper {
    padding: 0.2rem;
    > h2 { 
    margin-bottom: 1.5rem;
    font-size: 2rem;
    border: 3px ;
    color: rgb(63, 63, 63);
    }
}

.customerDetails-form {
    border: 2px solid #FFAFCC;
    border-radius: 2rem;
    padding: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #fbdaff28;
    .field-group {
        margin-top: 1rem;
        width: 70%;
        > input {
            margin-bottom: 0.5rem;
            border-radius: 1rem;
            border: none;
            box-shadow: 0 0 15px pink;
            padding: 0.5rem;
            width: 100%;
        }
    }
}

/* Payment Overview */
.paymentOverview-wrapper {
    grid-area: overview;
    border: 2px solid #FFAFCC;
    background-color: #fbdaff28;
    border-radius: 2rem;
    height: 35rem;
    object-fit: contain;
    padding: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: larger;
    > img {
        width: 20rem;
        max-width: 100%;
        max-height: 20rem;
        object-fit: cover;
        margin-bottom: 1rem;
        align-self: center;
    }
    > h3 {
        margin-bottom: 0.5rem;
        font-weight: normal;
        text-decoration: underline;
        font-size: larger;
    }
}


/* Checkout Button */
.paymentButton {
    grid-area: payment;
    border: 3px rgb(200, 135, 219) solid;
    background-color: #ffbfd6;
    color: rgb(119, 66, 206);
    border-radius: 1rem;
    margin-top: 4rem;
    width: 25rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 2rem;

}

.paymentButton:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(99, 43, 151, 0.767);
    border: 3px rgb(151, 51, 209) solid;
}