* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* --- Media Queries --- */

@media only screen and (max-width: 1024px) {
    * {
        font-size: 15px;
    }

    .gridcontainer {
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "main main main"
        "footer footer footer";
    }

    .header, .navbar, .main-container { /* Adds some margin so it doesnt reach the edge of screen */
        margin: 0 1rem 0 1rem;
    }

    .footer {
        height: 6rem !important;
    }

}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 18px;
    }

    .gridcontainer { 
    grid-template-areas: 
    ". header ."
    ". navbar ."
    ". main ."
    "footer footer footer";
    }

}

.gridcontainer {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* --- Header --- */

.header {
    /* border: 1px solid red; */
    grid-area: header;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1.25fr;
    grid-template-areas: 
    "logo . searchbar";
    align-items: center;
}

.logo > img {
    grid-area: logo;
    height: auto;
    width: 10rem;
    object-fit: contain;
}

.searchbar {
    grid-area: searchbar;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
}

.searchInput {
    width: 8rem;
    border: 3px solid purple;
    border-right: none;
    height: 2rem;
}

.searchButton {
    width: 30px;
    border: 1px solid purple;
    cursor: pointer;
    background-color: purple;
    color: white;
    height: 2rem;
}

/* --- Navbar --- */

.navbar {
    align-items:baseline;
    justify-content: center;
    display: flex;
    grid-area: navbar;
    height: 4rem;
    margin: 0.4rem 0 4rem;
}

.navlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1rem 0 0.1rem;
}

.navlist li {
    padding: 0.25rem;
    border: 1px solid black;
    background-color: rgb(163, 163, 163);
    display: inline-block;
    width: calc(85%/4);
    text-align: center;
    margin: 0 2rem 0 0;
}

.navlist li:last-child {
    margin: 0;
}

/* --- Main Content --- */

.main-container {
    /* border: 1px solid green; */
    grid-area: main;
    min-height: 80vh; /* Temporary */
    overflow-x: auto;
}

.widebox {
    background-color: lightblue;
    border: 1px solid lightskyblue;
    height: 40vh;
}

.scroll-box-container {
    list-style-type: none; /* Removes list dots */
    margin: 5vh 0 5vh;
    display: flex;
    gap: 2vw;
    overflow-x: scroll; /* Hides overflow and adds scrollbar */
    padding: 1em 0 1em;
}

.scroll-box-container::before, 
.scroll-box-container::after { /* Uses psuedo-elements to prevent first row of 10px being taken up */
  content: '';
} 

.scroll-box_item {
    background-color: lightblue;
    border: 1px solid lightskyblue;
    flex: 0 0 auto;
    
}

.scroll-box-item > img {
    height: 10rem;
    width: 10rem;
    object-fit: scale-down;
}

/* --- Footer --- */

.footer {
    border: 1px solid black;
    align-items: center;
    height: 8rem;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 12rem;
    background-color: #ffc5ce;
}

.footer_copyright {
    border: 1px solid black;
    padding: 0.2rem;
}

.footer_socials {
    height: 5rem;
    margin-top: 1.5rem;
    background-color: whitesmoke;
    padding: 0.2rem;
    align-content: center;
    li {
        border-right: 1px solid rgb(51, 51, 51);
        /* border-left: 1px solid rgb(51, 51, 51); */
        display: inline-block;
        padding: 0.25vw;
        width: 2rem;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.footer_socials :last-child { /* Removes right border from final list element */ 
    border-right: none;
}
